{% extends 'base.html' %}
{% block content %}


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for item in posts_with_first_image %}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      {% if item.first_image %}
                      <img src="{{item.first_image.image.url}}" alt="">
                      {% endif %}
                    </div>
                    <div class="down-content">
                      <span>{{item.post.category}}</span>
                      <a href="{% url 'post_detail' item.post.id %}"><h4>{{item.post.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{item.post.author.username}}</a></li>
                        <li><a href="#">{{item.post.created_at|date:"d F, Y"}}</a></li>
                        <li><a href="{{item.post.amazon_link}}">Amazon Link</a></li>
                      </ul>
                      <p>{{item.post.content|slice:300}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <!-- <li><i class="fa fa-tags"></i></li> -->
                              <!-- <li>{{item.post.category}}</li> -->
                              <!-- <li><a href="#">Nature</a></li> -->
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <!-- <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for cat in category %}
                        <li>{{cat.name}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}