{% extends 'base.html' %}
{% block content %}


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                {% for image in post.images.all %}
                                    <img src="{{ image.image.url }}" alt="{{ image.name }}" style="max-width: 200px;">
                                {% endfor %}
                            </div>
                            <div class="down-content">
                                <span>{{ post.category }}</span>
                                <a href="post-details.html"><h4>{{ post.title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ post.author }}</a></li>
                                    <li><a href="#">{{ post.created_at|date:"d F, Y" }}</a></li>
                                </ul>
                                <p>{{ post.content }}</p>
                                <div class="post-options">
                                    <div class="row">
                                        <div class="col-6">
                                            <!-- Tags can be added here if needed -->
                                        </div>
                                        <div class="col-6">
                                            <ul class="post-share">
                                                <li><i class="fa fa-share-alt"></i></li>
                                                <li><a href="{{ post.amazon_link }}">Amazon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                  <br>
                                    {% if post.video %}
                                        <video controls autoplay muted  style="width: 100%;">
                                            <source src="{{ post.video.url }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>{{post.author}}</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for author_post in author_posts %}
                        <li><a href="{% url 'post_detail' author_post.id %}">
                          <h5>{{author_post.title}}</h5>
                          <span>{{author_post.created_at|date:"d F, Y"}}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
